<ion-header>
  <ion-toolbar>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <img src="https://scontent.fhex10-1.fna.fbcdn.net/v/t39.30808-6/278017319_1309368736220576_5503881406304849071_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHq7JjeO3zSsWcq2tmpN7ISiXf9XH9pjI6Jd_1cf2mMjgpUfjMotHOcI7ShJgFskFujv0NUTYfWc25zHALoHVsO&_nc_ohc=9sM5x0nKQ2EAX_ZN_-v&tn=Y2kA-KzR-6EoPGPK&_nc_ht=scontent.fhex10-1.fna&oh=00_AT-DYP4_ola_5JzeO2byQst1hvnMV2XOgJTTvxRaJrOKNw&oe=635CD4DE" alt="Kirito">
  </ion-item>
  <ion-item>
    <ion-text>
      Manera de contactarme:
    </ion-text>
  </ion-item>
  <ion-list>
    <ion-item>
      <a href="https://www.linkedin.com/in/jorge-alexander-medrano-novas-997113182/">LinkInd</a>
    </ion-item>   
    <ion-item>
      <a href="https://github.com/JorgeMedranoNovas">Github</a>
    </ion-item>   
    <ion-item>
      <a href="mailto:jorgemodrano502@gmail.com">Email</a>
    </ion-item>         
  </ion-list>

</ion-content>
